<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d (%F:%L) %-5p %c - %m%n" />
		</layout>
	</appender>
	<root>
		<priority value="info" />
		<appender-ref ref="stdout" />
	</root>

	<!-- <appender name="fileout" class="org.apache.log4j.DailyRollingFileAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] (%F:%L) %-5p %c - %m%n" />
		</layout>
		<param name="File" value="E:/logs/server_log.txt" />
	</appender>

	<appender name="monitorAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<param name="File" value="mtlogs/mt_log.txt" />
		<param name="BufferedIO" value="true" />
		8K为一个写单元
		<param name="BufferSize" value="8192" />
	</appender>
 -->
	<!-- <logger name="monitorLogger" additivity="false">
		<level value="info" />
		<appender-ref ref="monitorAppender" />
	</logger> -->
</log4j:configuration>