<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"><log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">


		<param name="Target" value="System.out" />
		<param name="Threshold" value="ALL" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n" />
		</layout>      <filter class="org.apache.log4j.varia.LevelRangeFilter">  
            <param name="levelMin" value="debug" />  
           <param name="levelMax" value="error" />  
           <param name="AcceptOnMatch" value="true" />  
       </filter>  
	</appender>
	<appender name="FileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/logs/gameserver.log" />
		<param name="Threshold" value="ALL" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss} %p][%c]%m%n" />
		</layout>
	</appender>
	
	<!-- 跨服信息分析日志 -->
	<appender name="AcrossInfoLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/analysis/across/acrossInfoLog.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="AcrossTransDataLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/analysis/across/acrossTransDataLog.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<!-- 物品add日志分析 -->
	<appender name="GoodUseAndAddFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/analysis/GoodUseAndAdd/GoodUseAndAdd.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<logger name="com.heishi.log.bean.GoodUseAndAddLog">
		<level value="error" />
		<appender-ref ref="GoodUseAndAddFileAppender" />
	</logger>

	<appender name="GoodUseAndDeleteLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/analysis/GoodUseAndDeleteLog/GoodUseAndDeleteLog.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<logger name="com.heishi.log.bean.GoodUseAndDeleteLog">
		<level value="error" />
		<appender-ref ref="GoodUseAndDeleteLogFileAppender" />
	</logger>
	
	<appender name="JJCFightSWLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/analysis/JJCFightSWLog/JJCFightSWLog.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<logger name="com.heishi.log.bean.JJCFightSWLog">
		<level value="error" />
		<appender-ref ref="JJCFightSWLogFileAppender" />
	</logger>
	
	<appender name="YuanyuChangeLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/analysis/YuanyuChangeLog/YuanyuChangeLog.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<logger name="com.heishi.log.bean.YuanyuChangeLog">
		<level value="error" />
		<appender-ref ref="YuanyuChangeLogFileAppender" />
	</logger>
	
	<appender name="LocalRecordLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/analysis/LocalRecordLog/LocalRecordLog.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<logger name="com.heishi.log.bean.LocalRecordLog">
		<level value="error" />
		<appender-ref ref="LocalRecordLogFileAppender" />
	</logger>
	
	<appender name="ShentongLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/analysis/ShentongLog/ShentongLog.txt" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<logger name="com.heishi.log.bean.ShentongLog">
		<level value="error" />
		<appender-ref ref="ShentongLogFileAppender" />
	</logger>
	
	<logger name="com.heishi.across">
		<level value="info" />
        <appender-ref ref="AcrossInfoLogFileAppender"/>
	</logger>
	<logger name="datatransport">
		<level value="info" />
        <appender-ref ref="AcrossTransDataLogFileAppender" />
	</logger>
		
	<logger name="org.springframework">
		<level value="error" />
	</logger>
	<logger name="org.apache">
		<level value="error" />
	</logger>
	<logger name="java.sql">
		<level value="error" />
	</logger>
	<logger name="henry.dbcache">
		<level value="error" />
	</logger>
	<logger name="org.quartz">
		<level value="error" />
	</logger>

	<logger name="com.mchange.v2">
		<level value="error" />
	</logger>
	<logger name="com.ibatis">
		<level value="error" />
	</logger>
	<!-- 游戏内的信息 -->
	<logger name="com.heishi.ai.move">
		<level value="off" />
	</logger>
	<logger name="com.heishi.game.move.processor">
		<level value="off" />
	</logger>
	<logger name="com.heishi.bean.monsterlostgoods">
		<level value="off" />
	</logger>
	<logger name="com.heishi.persistence.gamedata.appellation">
		<level value="off" />
	</logger>
	<logger name="com.heishi.commons.message">
		<level value="off" />
	</logger>


	<root>		<!-- 注:部署时,只用 FileAppender 开发时只用Console -->	
		<level value="info" />
		<appender-ref ref="CONSOLE" />		<!-- 
			<level value="warn" />
		<appender-ref ref="FileAppender" />
		 -->	</root>
</log4j:configuration>

